#body {
    display: block;
    background: linear-gradient(to bottom right, grey, lightgrey);
}

#page-title {
    display: block;
    width: 25%;
    margin: 230px auto auto auto;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 15px;
}

#butoane {
    display: block;
    margin: auto;
    width: 20%;
    height: 50px;
}

#intrebare {
    display: block;
    margin: auto;
    width: 75%;
    height: 75px;
    padding: 20px;
}

#var {
    width: 32%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container>div {
    margin-left: 50px;
}