#body {
    display: block;
    background: linear-gradient(to bottom right, grey, lightgrey);
}

#page-title {
    display: block;
    width: 25%;
    margin: 230px auto auto auto;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 15px;
}

#intrebare, #trimite {
    display: block;
    margin: auto;
}